
.logo-text {
  font-family: "Times New Roman", serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 20px;
  color: #94762f;
  text-transform: uppercase;
}
.logo-container {
  display: flex;
  flex-direction: column;
  line-height: 1;
  text-decoration: none;
  align-items: center;
}

.logo-main {
  font-family: "MV Boli", serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #94762f; 
  text-transform: uppercase;
}

.logo-sub {
  font-family: "MV Boli", serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #94762f;
  margin-top: -3px; /* pull closer to PURE */
}
.icon {
  color: #94762f;
}
.nav-link {
  color: #94762f !important;   
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
}

.navbar-search-container {
  position: absolute;
  top: 85px;         /* appears under navbar */
  right: 20px;
  width: 220px;
  animation: fadeSlide 0.3s ease forwards;
  z-index: 999;
}

.navbar-search-input {
  border-radius: 25px;
  border: 1px solid #94762f;
  padding: 6px 14px;
  font-size: 14px;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




